<div class="flex flex-wrap justify-end px-4 py-2 bg-gray-900 shadow-sm lg:items-center lg:justify-center gap-x-6">
  <% if Coins.any? %>
    <div class="relative overflow-hidden coin-slider">
      <div class="flex space-x-6 coin-slider-track animate-loop-scroll">
        <% Coins.all.each do |coin| %>
          <div class="flex items-center space-x-4 text-sm text-white min-w-[250px]">
            <strong class="mr-2"><%= coin.name %>:</strong>
            <span class="flex items-center">
              <%= t('coins_card.buy') %>: $<%= number_with_precision(coin.purchase_price, precision: 2) %>
              <% if coin.purchase_price_changed? %>
                <% if coin.purchase_price > coin.purchase_price_was %>
                  <span class="ml-1 text-green-500">▲</span>
                <% else %>
                  <span class="ml-1 text-red-500">▼</span>
                <% end %>
              <% end %>
            </span>
            <span class="mx-2 text-gray-400">|</span>
            <span class="flex items-center">
              <%= t('coins_card.sell') %>: $<%= number_with_precision(coin.selling_price, precision: 2) %>
              <% if coin.selling_price_changed? %>
                <% if coin.selling_price > coin.selling_price_was %>
                  <span class="ml-1 text-green-500">▲</span>
                <% else %>
                  <span class="ml-1 text-red-500">▼</span>
                <% end %>
              <% end %>
            </span>
          </div>
        <% end %>
        <!-- Duplicar las monedas para el efecto de loop infinito -->
        <% Coins.all.each do |coin| %>
          <div class="flex items-center space-x-4 text-sm text-white min-w-[250px]">
            <strong class="mr-2"><%= coin.name %>:</strong>
            <span class="flex items-center">
              <%= t('coins_card.buy') %>: $<%= number_with_precision(coin.purchase_price, precision: 2) %>
              <% if coin.purchase_price_changed? %>
                <% if coin.purchase_price > coin.purchase_price_was %>
                  <span class="ml-1 text-green-500">▲</span>
                <% else %>
                  <span class="ml-1 text-red-500">▼</span>
                <% end %>
              <% end %>
            </span>
            <span class="mx-2 text-gray-400">|</span>
            <span class="flex items-center">
              <%= t('coins_card.sell') %>: $<%= number_with_precision(coin.selling_price, precision: 2) %>
              <% if coin.selling_price_changed? %>
                <% if coin.selling_price > coin.selling_price_was %>
                  <span class="ml-1 text-green-500">▲</span>
                <% else %>
                  <span class="ml-1 text-red-500">▼</span>
                <% end %>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="text-sm text-white"><%= t('coins_card.loading_prices') %></div>
  <% end %>
</div>