<div id="<%= dom_id stock %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('admin.labels.product') %>:</strong>
    <%= stock.product_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('admin.labels.amount') %>:</strong>
    <%= stock.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('admin.labels.size') %>:</strong>
    <%= stock.size %>
  </p>

</div>
