<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="relative flex flex-col w-full max-w-xl p-8 bg-white shadow-lg rounded-xl">
    <h4 class="block mb-2 text-2xl font-medium text-center text-slate-800">
      Log in
    </h4>
    <p class="mb-6 font-light text-center text-slate-500">
      Welcome back! Please enter your details to log in.
    </p>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "mt-8 mb-2 w-full") do |f| %>
      <div class="flex flex-col gap-6 mb-6">
        <div class="w-full">
          <%= f.label :email, class: "block mb-2 text-sm text-slate-600" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-base border border-slate-200 rounded-md px-4 py-3 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow" %>
        </div>
        
        <div class="w-full">
          <%= f.label :password, class: "block mb-2 text-sm text-slate-600" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-base border border-slate-200 rounded-md px-4 py-3 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow" %>
        </div>
      </div>
      
      <% if devise_mapping.rememberable? %>
        <div class="inline-flex items-center mt-4">
          <label class="relative flex items-center cursor-pointer">
            <%= f.check_box :remember_me, class: "peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow hover:shadow-md border border-slate-300 checked:bg-slate-800 checked:border-slate-800" %>
            <span class="absolute text-white transform -translate-x-1/2 -translate-y-1/2 opacity-0 pointer-events-none peer-checked:opacity-100 top-1/2 left-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
            </span>
          </label>
          <%= f.label :remember_me, class: "cursor-pointer ml-2 text-slate-600 text-sm" %>
        </div>
      <% end %>
      
      <div class="mt-8 actions">
        <%= f.submit "Log in", class: "w-full rounded-md bg-slate-800 py-3 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" %>
      </div>
    <% end %>
    
    <%# Enlace "Forgot your password?" %>
    <div class="flex justify-center mt-6">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-sm font-semibold text-slate-700 underline hover:text-slate-900" %>
      <% end %>
    </div>

    <p class="flex justify-center mt-6 text-sm text-slate-600">
      Don&apos;t have an account?
      <%= link_to "Sign up", new_registration_path(resource_name), class: "ml-1 text-sm font-semibold text-slate-700 underline" %>
    </p>
  </div>
</div>
