<div id="<%= dom_id category %>">
  <p class="border border-slate-300 p-3 text-left bg-slate-50">
    <strong class="block font-medium mb-1"><%= t('admin.labels.name') %>:</strong>
    <%= category.name %>
  </p>

  <p class="border border-slate-300 p-3 text-left bg-slate-50">
    <strong class="block font-medium mb-1"><%= t('admin.labels.description') %>:</strong>
    <%= category.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('admin.labels.image') %>:</strong>
    <div class="w-20 h-20">
      <%= image_with_initials(category, "w-full h-full object-cover rounded-md") %>
    </div>
  </p>

</div>


