<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('admin.labels.name') %>:</strong>
    <%= product.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('admin.labels.description') %>:</strong>
    <%= product.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('admin.labels.price') %>:</strong>
    <%= product.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('admin.labels.active') %>: </strong>
    <%= product.active %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('admin.labels.category') %>:</strong>

    <%= product.category.name %>
  </p>

    <div class="my-5">
    <strong class="block font-medium mb-1"><%= t('admin.labels.images') %>:</strong>
    <% if product.images.any? %>
      <% product.images.each do |image| %>
        <%= image_tag image, class: "w-20 h-20 object-cover rounded-md" %>
      <% end %>
    <% elsif product.image_url.present? %>
      <%= image_tag product.image_url, class: "w-20 h-20 object-cover rounded-md" %>
    <% else %>
      <div class="w-20 h-20">
        <%= image_with_initials(product, "w-full h-full object-cover rounded-md") %>
      </div>
    <% end %>
  </div>

</div>
