<% if notice.present? %>
  <%= render "shared/succes_alert", notice: notice %>
<% end %>

<div class="w-full px-4 mt-8">
  <div class="relative flex flex-col w-full text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
    <div class="relative p-4 text-gray-700 bg-white bg-clip-border">
      <div class="container mx-auto">
        <div class="flex flex-col items-center gap-8 px-4 mb-4 md:flex-row md:items-center md:justify-between">
          <div>
            <h1 class="mt-12 font-sans text-xl font-semibold leading-snug tracking-normal text-center md:text-left text-blue-gray-900">
              <%= t('admin.products.title') %>
            </h1>
          </div>
          <div class="flex justify-center gap-2 shrink-0 md:w-auto">
            <%= link_to t('admin.products.new_product'), new_admin_product_path, class: "mt-12 flex items-center gap-3 rounded-lg bg-yellow-500 py-2 px-4 text-white font-bold shadow-md hover:shadow-lg focus:opacity-85 active:opacity-85" %>
          </div>
        </div>
      </div>
    </div>

    <section class="flex flex-col w-full py-16 bg-muted">
      <div class="container mx-auto">
        <div id="categories" class="grid grid-cols-1 gap-8 px-4 sm:grid-cols-2 lg:grid-cols-3">
          <% @admin_products.each do |admin_product| %>
            <div class="p-6 transition-shadow border rounded-lg cursor-pointer group hover:shadow-lg">
              <div class="flex flex-col items-center text-center">
                <h4 class="mb-4 font-semibold group-hover:text-primary">
                  <%= admin_product.name %>
                </h4>
                         <img
                  src="<%= admin_product.image_url %>" 
                  alt="<%= admin_product.name %>"
                  class="object-cover w-24 h-24 mb-4 rounded-full"
                />
                <p><%= admin_product.description %></p>
                <p data-label="Name" class="p-4 text-left">
                  <%= t('admin.products.price') %>: <%= number_to_currency(admin_product.price) %>
                </p>
                <%= link_to t('admin.products.show_product'), admin_product_path(admin_product), class: "hover:bg-gray-400 rounded-lg py-2 px-4 bg-gray-200 inline-block font-medium mt-4" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>