<div class="w-full mt-8 ml-8 mr-8">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Products" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Products</h1>
    <%= link_to "New product", new_admin_product_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <section class="py-16 bg-muted flex flex-col w-full">
    <div class="container mx-auto px-4">
      <div id="categories" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8"> <!-- Configurado para 3 columnas -->
        <% @admin_products.each  do |admin_product| %>
          <div class="group cursor-pointer hover:shadow-lg transition-shadow p-6 rounded-lg border">
            <div class="flex flex-col items-center text-center">
              <h4 class="font-semibold group-hover:text-primary transition-colors mb-4">
                <%= admin_product.name %>
              </h4>
              <p><%= admin_product.description %></p>
              <td data-label="Name" class="border border-slate-300 bg-white text-left p-4">Precio: <%= number_to_currency(admin_product.price) %></td>
              <%= link_to 'Mostrar Producto', admin_product_path(admin_product), class: "hover:bg-gray-400 rounded-lg py-2 px-4 bg-gray-200 inline-block font-medium mt-4" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

</div>
