
<% if notice.present?  %>
    <%= render "shared/succes_alert", notice: notice %>
<% end  %>


<div class="w-full mt-4 ml-4 mr-4">


  <div class="relative flex flex-col w-full text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
    <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white rounded-none bg-clip-border">
      <div class="flex flex-col items-center gap-8 mb-4 text-center md:flex-row md:items-center md:justify-between">
        <div>
          <h1 class="block font-sans text-xl font-semibold leading-snug tracking-normal md:mt-12 text-blue-gray-900">
            Productos
          </h1>
        </div>
        <div class="flex justify-center w-full gap-2 mr-4 md:w-max">
          <%= link_to "Nuevo Producto", new_admin_product_path, class: "flex select-none items-center gap-3 rounded-lg bg-gray-900 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" %>
        </div>
      </div>
    </div>

    <section class="flex flex-col w-full py-16 bg-muted">
      <div class="container px-4 mx-auto">
        <div id="categories" class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
          <% @admin_products.each do |admin_product| %>
            <div class="p-6 transition-shadow border rounded-lg cursor-pointer group hover:shadow-lg">
              <div class="flex flex-col items-center text-center">
                <h4 class="mb-4 font-semibold transition-colors group-hover:text-primary">
                  <%= admin_product.name %>
                </h4>
                <p><%= admin_product.description %></p>
                <p data-label="Name" class="p-4 text-left">
                  Precio: <%= number_to_currency(admin_product.price) %>
                </p>
                <%= link_to 'Mostrar Producto', admin_product_path(admin_product), class: "hover:bg-gray-400 rounded-lg py-2 px-4 bg-gray-200 inline-block font-medium mt-4" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>

  </div>
</div>
