<section class="py-16 bg-stone-50">
  <div class="container px-4 mx-auto">
    <div class="flex items-center justify-between mb-8">
      <%= link_to root_path, class: "inline-flex items-center px-4 py-2 text-sm font-medium text-emerald-700 transition duration-300 bg-emerald-100 rounded-full hover:bg-emerald-200" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M19 12H5M12 19l-7-7 7-7"/>
        </svg>
<%= t('navigation.back_to_home') %>
      <% end %>
    </div>
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-2">
      <!-- Image Gallery -->
      <div class="max-w-md mx-auto lg:max-w-lg">
        <% if @product.image_url.present? %>
          <div class="grid grid-cols-2 gap-4">
            <% Array(@product.image_url).each do |image_url| %>
              <div class="overflow-hidden rounded-full aspect-square">
                <%= image_tag(image_url, class: "object-cover w-full h-full transition-transform duration-300 ease-in-out transform hover:scale-110") %>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="text-lg text-center text-slate-600">
            <%= t('product.no_images') %>
          </p>
        <% end %>
      </div>

      <!-- Product Information -->
      <div data-controller="products" data-products-product-value="<%= @product.to_json %>" class="flex flex-col h-full">
        <h1 class="mb-4 text-4xl font-bold tracking-tight text-slate-800">
          <%= @product.name %>
        </h1>
        <p class="mb-6 text-3xl font-extrabold text-emerald-600">
          <%= number_to_currency(@product.price) %>
        </p>
        <p class="mb-8 text-lg text-slate-600">
          <%= @product.description %>
        </p>

        <!-- Available Sizes -->
        <h3 class="mb-4 text-xl font-semibold text-slate-800">
          <%= t('product.available_sizes') %>:
        </h3>
        <div class="flex flex-wrap gap-2 mb-8">
          <% @product.stocks.each do |stock| %>
            <% if stock.amount > 0 %>
              <button data-action="click->products#selectSize" value="<%= stock.size %>" class="px-4 py-2 text-sm font-medium text-white transition duration-300 rounded-full bg-emerald-600 hover:bg-emerald-700">
                <%= stock.size %>
              </button>
            <% else %>
              <button disabled value="<%= stock.size %>" class="px-4 py-2 text-sm font-medium rounded-full text-slate-400 bg-slate-200">
                <%= stock.size %> (<%= t('product.sold_out') %>)
              </button>
            <% end %>
          <% end %>
        </div>

        <!-- Action Buttons -->
        <div class="flex flex-wrap gap-4 mt-auto">
          <a
            href="#"
            title="<%= t('product.add_to_favorites') %>"
            class="px-6 py-3 text-sm font-medium transition duration-300 rounded-full text-emerald-700 bg-emerald-100 hover:bg-emerald-200 focus:ring-4 focus:ring-emerald-100"
          >
            <%= t('product.add_to_favorites') %>
          </a>
          <div id="selected-size" class="text-lg font-medium text-slate-600"></div> 
          <button data-action="click->products#addToCart" class="px-6 py-3 text-sm font-medium text-white transition duration-300 rounded-full bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500">
            <%= t('home.popular_coins.add_to_cart') %>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>