<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app_name') %><%= t('meta_title') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="h-full">

  <main class="flex flex-col min-h-screen">
    <% unless devise_controller? %>
      <%= render 'shared/header_user' %>
    <% end %>

    <div class="flex-grow">
      <%= yield %>
    </div>

    <% unless devise_controller? %>
      <footer class="mt-auto bg-blue-500">
        <%= render 'shared/footer' %>
      </footer>
    <% end %>
  </main>
</body>




</html>
